body{
    font-family: 'Poppins',
    sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}

.flexible-display{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
    margin-left: 5%;
}

.half-width img{
    width: 90%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#f76147, #ee8b79);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}

.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 5px;
    border-radius: 5px;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}

#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}

p{
    color: dimgray;
}

.half-width p{
    padding-right: 120px;
    text-align: justify;
}
